@import 'mixins';

@font-face {
  @include import-font('Raleway-Regular', "./fonts/Raleway-Regular.ttf");
}

@font-face {
  @include import-font('Raleway-MediumItalic', "./fonts/Raleway-MediumItalic.ttf");
}

@font-face {
  @include import-font('Raleway-Bold', "./fonts/Raleway-Bold.ttf");
}

@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  padding: 10px;
  font-size: 15px;
  font-family: $font-stack;
}

currency-converter {
  border: 1px solid #ccc;
  margin: 1vw 1vw 0;
  padding: 1%;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0px #aaa;
}